*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** debug boxes
* {
  outline: 1px solid #f00 !important;
}
/* end debug */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}
body {
  font-size: 1rem;
  overflow-y: scroll;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

table {
  margin: 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #3498db;
}

thead tr {
  background: #dfdfdf;
}

th, td {
  border-bottom: solid rgb(193, 187, 187) 1px;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.border-l {
  border-left: solid rgb(193, 187, 187) 1px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  padding: 0.35rem;
}

.side-to-side-panel {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group label {
  display: inline-block;
}
.form-group input {
  margin: 0.5rem 0;
  padding: 0.1rem 0.3rem;
}
.form-group select {
  min-width: 12em;
}
.form-group select option {
  padding: 0.2rem 0.3rem;
}

.form-group.fg-dates label {
  width: 3em;
}

.text-right {
  text-align: right;
}

.font09 {
  font-size: 0.9rem !important;
}

.form-group.text-right label {
  margin: 0 1rem;
}

.w8rem {
  width: 8rem;
}
.w10rem {
  width: 10rem;
}

input[type='checkbox'] {
  width: 40px;
  height: 40px;
}

.panel {
  flex-flow: row;
  width: 50%;
}

.display-none {
  display: none !important;
}

.icon-i {
  font-style: normal;
  cursor: help;
  background-color: transparent;
  font-size: 2rem;
  overflow: visible;
  height: 0px;
  position: relative;
  top: 0.1rem;
  line-height: 1rem;
}
.icon-i.hidden {
  display: none;
}

.red {
  color: red;
}

.calendar {
  padding: 0.5rem;
  margin: 1rem;
}

.calendar .days-of-week {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.calendar .days-of-week div {
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.calendar .week {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.calendar .week .weekDay {
  flex: 1;
  text-align: center;
}

.button {
  border: 0;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.icon-btn {
  border: 0;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #3498db;
  color: transparent;
  text-shadow: 0 0 0 white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 2px;
  transition: transform 0.2s ease;
  user-select: none;
}

.buttons-addrop{
  float: right;
  margin-bottom: 0.5rem;
}

.button:focus {
  outline: none;
}

.button:hover, .icon-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #f5f5f5;
}

.jiras-container {
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 1rem;
}

.inputs-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem 3rem 1rem;
}

.jiras-container label {
  padding: 0 1rem;
}

.jiras-container input[type=text] {
  width: 18em;
  font-size: 1.2rem;
}


.buttons-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 1rem;
  width: 60%;
}

.filters{
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: auto;
}

.toggleToDate {
  padding-top: 3px;
}

.logged-hours {
  color: grey;
  width: 100%;
  text-align: center;
  padding: 0.2rem 0 1rem 0;
}

span.time-spent {
  display: block;
  color: grey;
}

.divider {
  margin: 1.5rem auto 1.2rem;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.3;
}

button.loading {
  cursor: wait;
  color: #909090;
  background-color: #e0e0e0;
}

#processPanel {
  padding: 1rem;
}

.spinner {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 2rem;
  padding: 0;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  color: transparent;
  background-color: transparent;
  display: none;
}

.spinner.spinner-large {
  border: 0.7rem solid #f3f3f3;
  border-top: 0.7rem solid #3498db;
  width: 9rem;
  height: 9rem;
}

.spinner.show {
  display: block !important;
}

.alert{
  display: none;
  text-align: center;
  margin: 2rem;
}

.alert.show {
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  padding: 3px 20px;
  bottom: -1.6rem;
  line-height: 2rem;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
  
}
[data-title] {
  position: relative;
}


@media (max-width: 1560px) {
  .form-group input {
    width: 9em;
  }

  .form-group select {
    max-width: 20em;
  }
  
}

@media (max-width: 1560px) {
  .form-group input {
    width: 9em;
  }

  .form-group select {
    max-width: 20em;
  }
  
}
