*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** debug boxes
* {
  outline: 1px solid #f00 !important;
}
/* end debug */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 35em;
  overflow-y: visible;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
  overflow-y: scroll;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  padding: 0.35em;
}
.task-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px;
  display: inline-block;
  overflow: hidden;
  text-align: left;
}

#all-items {
  width: 95%;
}

.card {
  border: 1px solid #cdcdcd;
  padding: 0.5em;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

.button {
  border: 0;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: transform 0.2s ease;
  user-select: none;
}

.icon-btn {
  border: 0;
  margin-right: 4px;
  margin-left: 4px;
  vertical-align: middle;
  background-color: #3498db;
  color: transparent;
  text-shadow: 0 0 0 white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  width: 1.8em;
  height: 1.8em;
  border-radius: 2px;
  transition: transform 0.2s ease;
  user-select: none;
}

.icon-btn.without-spacing {
  letter-spacing: -0.6em;
  padding-right: 0.6em;
}

.icon-i {
  font-style: normal;
  cursor: help;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 #3498db;
  font-size: 3em;
  overflow: visible;
  height: 0px;
  display: block;
  position: relative;
  top: -1.3em;
  width: 50%;
  margin-left: 48%;
}

.button:focus {
  outline: none;
}

.button:hover, .icon-btn:hover {
  transform: scale(1.1);
}

.dates {
  text-align: center;
}
.dates label {
  width: 3em;
  display: inline-block;
  text-align: right;
}
.dates .hide-to-date {
  transition: opacity 0.5s, height 1s ease 0.6;
  opacity: 0;
  height: 0px;
}
.dates .display-to-date {
  transition: opacity 1s, height 0.7s ease;
  opacity: 1;
}

.dates > div.display-to-date {
  margin-top: 3px;
}

.dates input {
  text-align: center;
}

.toggleToDate {
  padding-top: 3px;
}

.logged-hours {
  color: grey;
  width: 100%;
  text-align: center;
  padding: 0.2em 0 1em 0;
}

span.time-spent {
  display: block;
  color: grey;
}

.divider {
  margin: 1.5em auto 1.2em;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.3;
}

.jira-item {
  margin: 0.5em 0;
  text-align: center;
}

.jira-item div {
  margin: 0 0 0.5em;
}

.jira-item label {
  width: 80px;
  padding: 0 1em;
  display: inline-block;
  text-align: right;
}

.jira-item input {
  padding: 0 0.5em;
}

.jira-item div.top-btnbar {
  float: right;
  text-align: right;
}

.jira-item div.card-content {
  float: left;
  margin: 0;
}

button.loading {
  cursor: wait;
  color: #909090;
  background-color: #e0e0e0;
}

.spinner {
  padding: 0;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  color: transparent;
  background-color: transparent;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}